CHANGES
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
bin/konsole-tabs.sh
bin/lclean
bin/lcrash
bin/lhalt
bin/linfo
bin/lstart
bin/manage_tuntap
bin/netkit_bash_completion
bin/script_utils
bin/vclean
bin/vconfig
bin/vcrash
bin/vhalt
bin/vlist
bin/vstart
check_configuration.d/02-check_environment.sh
check_configuration.d/03-check_man_pages.sh
check_configuration.d/04-check_path.sh
check_configuration.d/06-check_aux_tools.sh
check_configuration.d/07-check_terminal_emulators.sh
check_configuration.d/09-check_i386_libs.sh
check_configuration.sh
config.log
config.status
configure
install-sh
man/man1/lclean.1
man/man1/lcrash.1
man/man1/lhalt.1
man/man1/vclean.1
man/man1/vconfig.1
man/man1/vcrash.1
man/man1/vhalt.1
man/man1/vlist.1
man/man1/vstart.1
man/man5/netkit.conf.5
man/man7/netkit.7
missing
netkit.conf
Makefile
